{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block content %}
    <h1>Eliminar Genero</h1>
    <br>
    <form method="post" class="post-form" action="" disabled="True">
        {% csrf_token %}
        <!-- {{ formulario.as_p }} el anterior muestra como parrafo  -->
        {{ formulario | crispy }}

        <p><strong>Estas seguro que desea eliminar este genero??</strong></p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" action="" value="Si, Eliminar" class="save btn btn-danger"/>
    </form>

    <br>
    <a href="{% url 'listaGeneros' %}">Volver a Generos</a>
{% endblock %}